<!doctype html>
<html>
<head>
	<title>mySCILHS Survey Manager</title>
	<link
		href="css/angular-bootstrap.css"
		rel="stylesheet">
	<style type="text/css">
	[ng\:cloak], [ng-cloak], .ng-cloak {
		display: none !important;
	}
	input[type="text"] {
		width: 25em;
	}
	/*.input-group-btn {*/
		/*display: inherit;*/
	/*}*/

	footer {
		padding-top: 10em;
	}

	header {
		padding-bottom: 2em;
	}
	</style>
</head>

<body ng-app="surveymanager" ng-cloak class="ng-cloak">
	<header>
		<div ng-controller="NavigationController" class="container">
			<h3 class="text-center">MySCILHS Survey Manager Administration</h3>
			<ul class="nav nav-pills" role="tablist">
				<!--<li ng-class="{active:tab('home')}"><a href="#/">home</a></li>-->
				<li ng-class="{active: $state.is('home')}"><a ui-sref="home">home</a></li>
				<!--<li ng-show="!authenticated"><a href="#/login">login</a></li>-->
				<!--<li ng-show="authenticated"><a href="" ng-click="logout()">logout</a></li>-->
				<li><a href="" ng-click="logout()">logout</a></li>
			</ul>
		</div>
	</header>
	<!-- Any messages -->
	<div class="alert alert-danger text-center" ng-show="errorMessage">
		{{errorMessage}}
	</div>
	<div class="alert alert-success text-center" ng-show="appMessage">
		{{appMessage}}
	</div>
	<div ui-view class="container"></div>
	<footer>
		<p class="text-center"><em>Copyright @2015 Boston Children's Hospital.</em></p>
	</footer>
	<script src="js/angular-bootstrap.js" type="text/javascript"></script>
	<script src="js/surveymanager.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
</body>
</html>
