<!doctype html>
<html>
<head>
	<title>mySCILHS Survey Manager</title>
	<link
		href="css/angular-bootstrap.css"
		rel="stylesheet">
	<style type="text/css">
	[ng\:cloak], [ng-cloak], .ng-cloak {
		display: none !important;
	}
	input[type="text"], input[type="password"] {
		width: 25em;
	}
	/*.input-group-btn {*/
		/*display: inherit;*/
	/*}*/

	footer {
		padding-top: 10em;
	}

	header {
		padding-bottom: 2em;
	}
	</style>
</head>

<body ng-app="surveymanager" ng-cloak class="ng-cloak" ng-controller="LoginController">
	<header>
		<h3 class="text-center">MySCILHS Survey Manager Administration</h3>
	</header>
	<div class="alert alert-danger" ng-show="errorMessage">
		{{errorMessage}}
	</div>
	<div class="alert alert-info" ng-show="appMessage">
		{{appMessage}}
	</div>
	<form role="form" ng-submit="login()">
	<!--<form role="form" method="post" action="/login">-->
		<div class="form-group">
			<label for="username">Username:</label> <input type="text"
														   class="form-control" id="username" name="username" ng-model="credentials.username"/>
		</div>
		<div class="form-group">
			<label for="password">Password:</label> <input type="password"
														   class="form-control" id="password" name="password" ng-model="credentials.password"/>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<footer>
		<p class="text-center"><em>Copyright @2015 Boston Children's Hospital.</em></p>
	</footer>
	<script src="js/angular-bootstrap.js" type="text/javascript"></script>
	<script src="js/surveymanager.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
</body>
</html>
