<div class="form-group">
    <input type="hidden" class="form-control" id="id" name="id" ng-model="project.id"/>
</div>
<div class="form-group" ng-class="{'has-error': project.errors.name}">
    <label for="projectName">Project Alias:</label>
    <input type="text" class="form-control" id="projectName" name="projectName" ng-model="project.name"
           placeholder="Project Alias"/>
    <div ng-show="project.errors.name" class="alert alert-warning">{{project.errors.name}}</div>
</div>
<div class="form-group" ng-class="{'has-error': project.errors.url}">
    <label for="projectUrl">Project Url:</label>
    <input type="text" class="form-control" id="projectUrl" name="projectUrl" ng-model="project.url" placeholder="REDCap project URL (e.g. http://my-redcap-server.org/redcap/projectId=123" required/>
    <div ng-show="project.errors.url" class="alert alert-warning">{{project.errors.url}}</div>
</div>
<div class="form-group" ng-class="{'has-error': project.errors.apiToken}">
    <label for="projectToken">Project Token:</label>
    <input type="text" class="form-control" id="projectToken" name="projectToken" ng-model="project.apiToken"  placeholder="API Token for retrieval authorization" required/>
    <div ng-show="project.errors.apiToken" class="alert alert-warning">{{project.errors.apiToken}}</div>
</div>
<div class="form-group">
    <h4>Allowable Survey Forms</h4>
    <!--<div class="input-group input-group-sm">-->
    <ul class="list-inline">
        <li><input type="text" class="form-control" name="newform" ng-model="newForm.value" newformd placeholder="Project form label"/></li>
        <li><button class="btn btn-default btn-xs"  type="button" ng-click="addForm(newForm.value)" >Add</button></li>
        <span class="alert alert-warning" ng-show="projectForm.newform.$error.newformd">Form name already exists in list</span>
    </ul>
    <ul class="list-group">
        <li class="list-group-item list-group-item-warning" ng-show="!project.forms || project.forms.length === 0">
            <em>No allowable forms specified. Any forms eligible for mySCILHS downstream processing MUST be added
                here.</em>
        </li>
        <li class="list-group-item" ng-show="project.forms && project.forms.length > 0"
            ng-repeat="myForm in project.forms">
            <ul class="list-inline">
                <li>{{myForm}}</li>
                <li><a class="btn btn-danger btn-xs" ng-click="deleteForm($index)">Delete</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-primary" ui-sref="projects">Cancel</a>
</div>
