<h3>Add a new REDCap project</h3>
<div class="alert alert-danger" ng-show="error">
    There was a problem adding a project to the server. Check application.
</div>
<form name="projectForm" class="form-horizontal" role="form" ng-submit="addProject()">
    <div ng-include="'partials/_projectForm.html'"></div>
</form>