<h4>REDCap project: <strong>{{project.name}}</strong></h4>
<div class="alert alert-danger" ng-show="error">
    There was a problem retrieving the project.
</div>
<table class="table table-condensed table-hover">
    <!--<tr>-->
        <!--<td><h3>REDCap project: {{project.name}}</h3></td>-->
        <!--<td></td>-->
    <!--</tr>-->
    <tr>
        <td>Project Alias</td>
        <td>{{project.name}}</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>{{project.url}}</td>
    </tr>
    <tr>
        <td>API Token</td>
        <td>{{project.apiToken}}</td>
    </tr>
    <tr>
        <td>Allowed Survey Forms</td>
        <td>
            <ul class="list-group">
                <li class="list-group-item list-group-item-warning" ng-show="!project.forms || project.forms.length === 0">
                    <em>No allowable forms specified</em>
                </li>
                <li class="list-group-item" ng-show="project.forms && project.forms.length > 0"
                    ng-repeat="myForm in project.forms">{{myForm}}
                </li>
            </ul>
        </td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editProject({id:project.id})">Edit</a>
    <a class="btn btn-primary" ui-sref="projects" ui-sref-opts="{reload: true}">Back</a>
</div>