<h4>Update REDCap project: <strong>{{displayName}}</strong></h4>
<div class="alert alert-danger" ng-show="error">
    There was a problem retrieving and/or updating the project from the server. Check application.
</div>
<form name="projectForm" class="form-horizontal" role="form" ng-submit="updateProject()">
    <div ng-include="'partials/_projectForm.html'"></div>
</form>