<h3>Manage REDCap projects</h3>
<a ui-sref="newProject" role="button" class="btn btn-primary btn-default">Add New Project</a>

<table class="table table-condensed table-hover text-center">
    <tr ng-show="!projects || projects.length === 0">
        <td><em>No projects are stored</em></td>
        <td></td>
    </tr>
    <tr ng-show="projects && projects.length > 0" ng-repeat="project in projects">
        <td>{{project.name}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewProject({id:project.id})">View</a>
            <a class="btn btn-danger"  ng-click="deleteProject(project)">Delete</a>
        </td>
    </tr>
</table>