<div ng-show="!errorMessage">
    <h3>View/Edit Configuration Properties</h3>

    <ul>
        <li class="alert alert-danger" ng-repeat="message in serverMessages">{{message}}</li>
    </ul>
    <form role="form" class="css-form" ng-submit="saveProperties()">
        <div class="form-group">
            <label for="messagingUrl">Message Broker URL:</label>
            <input type="text" class="form-control" id="messagingUrl" name="messagingUrl"
                   ng-model="properties.messagingUrl"/>
        </div>
        <div class="form-group">
            <label for="messagingQueue">Message Broker Queue:</label>
            <input type="text" class="form-control" id="messagingQueue" name="messagingQueue"
                   ng-model="properties.messagingQueue"/>
        </div>
        <div class="form-group">
            <label for="messagingUsername">Message Broker Username:</label>
            <input type="text" class="form-control" id="messagingUsername" name="messagingUsername"
                   ng-model="properties.messagingUsername"/>
        </div>
        <div class="form-group">
            <label for="messagingPassword">Message Broker Password:</label>
            <input type="text" class="form-control" id="messagingPassword" name="messagingPassword"
                   ng-model="properties.messagingPassword"/>
        </div>
        <div class="form-group">
            <label for="messagingSendTimeout">Message Broker Send Timeout (ms):</label>
            <input type="text" class="form-control" id="messagingSendTimeout" name="messagingSendTimeout"
                   ng-model="properties.messagingSendTimeout"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-default" ng-click="reset(form)">Reset</a>
    </form>
</div>